# Default values for ef-cx.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
#
# ███████ ██   ██ ██████  ███████ ██████  ████████ ███████ ██       ██████  ██     ██ 
# ██       ██ ██  ██   ██ ██      ██   ██    ██    ██      ██      ██    ██ ██     ██ 
# █████     ███   ██████  █████   ██████     ██    █████   ██      ██    ██ ██  █  ██ 
# ██       ██ ██  ██      ██      ██   ██    ██    ██      ██      ██    ██ ██ ███ ██ 
# ███████ ██   ██ ██      ███████ ██   ██    ██    ██      ███████  ██████   ███ ███  
#
# Globals Section:
#
# global.ingressRouter: Provides a central location for the FQDN that will be used \
#                       across the EF CX solution
# global.registry: when deploying solution with limited access to internet, \
#                  changing this will cause all subsequent image pulls from this registry. \
#                  Used as Variable in all sub-charts
#


global:
  ingressRouter: "devops77.ef.com"
  ingressCertName: "ef-ingress-tls-secret"
  ingressClassName: "nginx"
  efCxReleaseName: "ef-cx"
  commonIngressAnnotations: {}
  ##    nginx.ingress.kubernetes.io/rewrite-target: /$2
  ##    nginx.ingress.kubernetes.io/use-regex: "true"
  imageRegistry: "gitimages.expertflow.com"
  imagePullSecrets: 
   - ef-gitlab-secret
  ## The CommonEnvVars are now part of the globals. Selective adaption to components is mandatory.
  efCommonVars_IS_WRAP_UP_ENABLED: false
  efCommonVars_WRAPUP_TIME: "60"
  efCommonVars_DEFAULT_ROOM_NAME: CC
  efCommonVars_DEFAULT_ROOM_DESCRIPTION: Contact Center Room
  efCommonVars_DEFAULT_ROOM_LABEL: CC
  efCommonVars_ROOM_IS_USER_ID: false
  efCommonVars_CONVERSATION_SEARCH_WINDOW_HRS: "24"
  efCommonVars_TZ: UTC
  efCommonVars_MASK_ATTRIBUTES_PATH: /sensitive.js
  efCommonVars_LOGGING_CONFIG: /logback/logback-spring.xml
  efCommonVars_IS_ENABLED_2FA: "false"
  efCommonVars_CHANNEL_2FA: "app"
  efCommonVars_TWILIO_SID: ""
  efCommonVars_TWILIO_VERIFY_SID: ""
  efCommonVars_TWILIO_AUTH_TOKEN: ""
  efCommonVars_TOPIC_CONCURRENCY_MIN: "2"
  efCommonVars_TOPIC_CONCURRENCY_MAX: "6"

  ## EF-External related Service URIs -- not used atm. 
  efGrafanaDatasourceSecret: "ef-grafana-datasource-secret"
  efGrafanaSupervisorDashboardConfigMap: "ef-grafana-supervisor-dashboard"
  efGrafanaSupervisorDashboardFilename: "Supervisor_Dashboard_CIM.json"
  efGrafanaAgentDashboardConfigMap: "ef-grafana-agent-dashboard"
  efGrafanaAgentDashboardFilename: "Agent_Dashboard_CIM.json"
  efGrafanaAgentTeamsDashboardConfigMap: "ef-grafana-agent-teams-dashboard"
  efGrafanaAgentTeamsDashboardFilename: "agent_teams_dashboard.json"
  efGrafanaAgentPerformanceDashboardConfigMap: "ef-grafana-agent-performance-dashboard"
  efGrafanaAgentPerformanceDashboardFilename: "agent_performance_dashboard.json"
  efGrafanaSocialMediaPerformanceTrendDashboardConfigMap: "ef-grafana-social-media-performance-trend-dashboard"
  efGrafanaSocialMediaPerformanceTrendDashboardFilename: "social_media_performance_trend_dashboard.json"
  efGrafanaTeamStatisticsDashboardConfigMap: "ef-grafana-team-statistics-dashboard"
  efGrafanaTeamStatisticsDashboardFilename: "team_statistics_dashboard.json"
  efGrafanaDashboardProviderCM: "ef-grafana-dashboard-provider-cm"
  efGrafanaIniCM: "ef-grafana-ini-cm"


clusterDomain: cluster.local


##############################unified-agent##############################
unified-agent:
   enabled: true
   replicaCount: 1
   image:
      repository: cim/unified-agent
      tag: "5.0.7"
   efConnectionVars: true
   efEnvironmentVars: true
   containerPorts:
      - name: "http-un-ag-8089"
        containerPort: 8089
   extraEnvVars:
      - name: APP_LOG_LEVEL
        value: "INFO"
      - name: TZ
        value: ABC
      - name: CONVERSATION_MANAGER_URL
        value: "https://{{ .Values.global.ingressRouter  }}/conversation-manager"
      - name: CIM_REPORTING_URL
        value: "https://{{ .Values.global.IngressSQL  }}/realtime-reports"
      - name: CIM_CUSTOMER_URL
        value: "https://{{ .Values.global.ingressRouter  }}/cim-customer"
      - name: GDB
        value: "https://{{ .Values.global.ingressRouter  }}/unified-admin"
      - name: CCM_URL
        value: ccm12366666666666666ahahgigsigxs
      - name: ROUTING_ENGINE_URL
        value: "https://{{ .Values.global.ingressRouter  }}/routing-engine"
      - name: TEAM_ANNOUNCEMENT_URL
        value: "https://{{ .Values.global.ingressRouter  }}/team-announcement"
      - name: getQueuesDelay
        value: "15"
      - name: 
        value: "10000"
      - name: isCrmEventsEnabled
        value: "false"
      - name: SECURE_LINK_URL
        value: "https://{{ .Values.global.ingressRouter  }}/secure-link"
      - name: finesseURLForAgent
        value: "https://122.129.75.138:8445"
      - name: isSecureLinkEnabled
        value: "false"
      - name: Enable_Voice_Events_For_CRM
        value: "false"
      - name: SOCKET_TIMEOUT
        value: "20000"
      - name: IS_WEBRTC_VIDEO_ENABLED
        value: "false"
      - name: WEBRTC_SERVICE_IDENTIFIER
        value: "00000"
      - name: isSpellCheckEnabled
        value: "true"
      - name: isKnowledgeBaseEnabled
        value: false
      - name: KNOWLEDGE_BASE_URL
        value: ""
   siteEnvVars: []
   configKeys: []
   service:
      enabled: true
      port: 80
      portName: "http-un-ag-80"
      targetPort: "http-un-ag-80"
   ingress:
      enabled: false
      ingressAssets:
        enabled: false
        annotations: {}
        path: /assets
   extraVolumes:
      - name: ef-app-translation
        configMap:
           name: ef-app-translations-cm
      - name: ef-crm-service
        configMap:
          name: ef-crm-service-cm
      - name: ef-canned-messages
        configMap:
          name: ef-cx-custom
   extraVolumeMounts:
      - name: ef-app-translation
        mountPath: /usr/share/
      - name: ef-canned-messages/have
        mountPath: /usr/share/nginx
grafana:
  enabled: true
  image:
    registry: gitimages.expertflow.com
    repository: general/grafana000
    tag: 12.9.2-debian-25-r0-07tagsggsg
    pullPolicy: IfNotPresent
  dashboardsProvider:
    enabled: false
    configMapName: '{{ .Values.global.efGrafanaDashboardProviderCM }}'
  dashboardsConfigMaps:
    - configMapName: '{{ .Values.global.efGrafanaSupervisorDashboardConfigMap }}'
      folderName: default
      fileName: '{{ .Values.global.efGrafanaSupervisorDashboardFilename }}'
    - configMapName: '{{ .Values.global.efGrafanaAgentDashboardConfigMap }}'
      folderName: default
      fileName: '{{ .Values.global.efGrafanaAgentDashboardFilename }}'
    - configMapName: '{{ .Values.global.efGrafanaAgentTeamsDashboardConfigMap }}'
      folderName: default
      fileName: 'have a nice day'
    - configMapName: '{{ .Values.global.efGrafanaAgentPerformanceDashboardConfigMap }}'
      folderName: default
      fileName: '{{ .Values.global.efGrafanaAgentPerformanceDashboardFilename }}'
    - configMapName: '{{ .Values.global.efGrafanaSocialMediaPerformanceTrendDashboardConfigMap }}'
      folderName: default
      fileName: '{{ .Values.global.efGrafanaSocialMediaPerformanceTrendDashboardFilename }}'
    - configMapName: '{{ .Values.global.efGrafanaTeamStatisticsDashboardConfigMap }}'
      folderName: default
      fileName: '{{ .Values.global.efGrafanaTeamStatisticsDashboardFilename }}'
  datasources:
    secretName: "abraham"
  admin:
    user: "admin"
    password: "Expertflow123"
  config:
    useGrafanaIniFile: false
    grafanaIniConfigMap: "{{ .Values.global.efGrafanaIniCM }}"
  grafana:
    extraEnvVars:
      - name: GF_SERVER_HTTP_PORT
        value: "3000"
      - name: GF_SERVER_DOMAIN
        value: "{{ .Values.global.ingressRouter }}"
      - name: GF_SERVER_ROOT_URL
        value: https://{{ .Values.global.ingressRouter }}/grafana
      - name: GF_SERVER_SERVE_FROM_SUB_PATH
        value: "true"
      - name: GF_SECURITY_ALLOW_EMBEDDING
        value: "true"
      - name: GF_AUTH.ANONYMOUS_ENABLED
        value: "true"
      - name: GF_AUTH_ANONYMOUS_ENABLED
        value: "true"
      - name: GF_INSTALL_PLUGINS
        value: "marcusolsson-json-datasource,yesoreyeram-infinity-datasource"
      - name: GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS
        value: "true"
      - name: GF_LIVE_ENABLED
        value: "false"
  serviceAccount:
    create: true
    name: ""
    automountServiceAccountToken: true
  hostAliases:
    - ip: "<IP>"
      hostnames:
        - "{{ .Values.global.ingressRouter }}"
  ingress: { enabled: false } # Disabled in favor of APISIX

